<div [hidden]="!procesandoArchivo"><md-progress-bar mode="indeterminate"></md-progress-bar></div>
<div><p-messages [(value)]="msgs"></p-messages></div>
<div>
  <md-card>
    <md-card-header>
      <md-card-title>Estados</md-card-title>
    </md-card-header>
    <md-card-actions>
        <button color="primary" (click)="mostrarLogEstado = true" [hidden]="mostrarLogEstado">MOSTRAR</button>
        <button color="primary" (click)="mostrarLogEstado = false" [hidden]="!mostrarLogEstado">ESCONDER</button>
      </md-card-actions>
    <md-card-content>
      <div [hidden]="!mostrarLogEstado">
        <span *ngFor="let estado of logEstados"> ->{{estado}} </span>
    </div>
    </md-card-content>

  </md-card>
</div>
<br>
<div>
  <md-card>
    <md-card-header>
      <md-card-title>Contenido Del Archivo</md-card-title>
    </md-card-header>
    <md-card-actions>
        <button color="primary" (click)="mostrarLogArchivo = true" [hidden]="mostrarLogArchivo">MOSTRAR</button>
        <button color="primary" (click)="mostrarLogArchivo = false" [hidden]="!mostrarLogArchivo">ESCONDER</button>
      </md-card-actions>
    <md-card-content>
      <p [hidden]="!mostrarLogArchivo" [innerHTML]="procesado | safeHtmlPipe"></p>
    </md-card-content>
  </md-card>
</div>
