<!--
<div id="mynetwork"></div>
-->
<md-toolbar color="primary">
    <span>Antivirus - Automata Finito</span>
</md-toolbar>
<div class="contenido">
  <md-card>
    <md-card-content>
        <div id="mynetwork"></div>
    </md-card-content>
  </md-card>
</div>
<div class="contenido">
    <p-fileUpload
    name="archivo"
    (onClear)="onArchivoClear($event)"
    (onSelect)="onArchivoSelect($event)"
    (multiple)="false"
    customUpload="true"
    (uploadHandler)="archivoUploadHandler($event)"
    chooseLabel="Escoger"
    uploadLabel="Subir"
    cancelLabel="Cancelar">
      <ng-template pTemplate type="content">
          <ul *ngIf="archivosSubidos.length">
              <li *ngFor="let file of archivosSubidos">{{file.name}} - {{file.size}} bytes</li>
          </ul>
      </ng-template>
    </p-fileUpload>
</div>
<div class="contenido">
  <md-card>
    <md-card-content>
        <app-automata #automata></app-automata>
    </md-card-content>
  </md-card>
</div>
